{% extends 'base.html.twig' %}
{% block title %}Vérifier{% endblock %}
{% block body %}

  <p>Vérifiez votre adresse email en cliquant sur le lien présent dans l'email qui vous a été envoyé</P>

{% endblock %}