{% extends 'base.html.twig' %}

{% block title %}Success{% endblock %}

{% block body %}
<h1>Paiement effectué !</h1>
<br>
<p>Merci pour votre achat !</p>
<br>
<p>aller à <a href="{{ path('app_my_space') }}">mon espace personnel</a></p>
{% endblock %}