{% extends 'base.html.twig' %}

{% block title %}Licence{% endblock %}

{% block body %}
<h1>LICENCE PUBLIQUE GÉNÉRALE GNU</h1>

<p>Version 3, 29 juin 2007</p>
<br>
<p>Copyright © 2007 Free Software Foundation, Inc. < https://fsf.org/ ></P>
<br>
<p>Tout le monde est autorisé à copier et distribuer des copies textuelles de ce document de licence, mais il est interdit de le modifier.<P>
<br>

<h2>Préambule</h2>
<br>
<p>La Licence Publique Générale GNU est une licence libre d'auteur pour les logiciels et autres types d'œuvres.</p>
<br>
<p>Les licences de la plupart des logiciels et autres travaux pratiques sont conçues pour vous priver de la liberté de partager et de modifier les travaux. En revanche, la licence publique générale GNU est destinée à garantir votre liberté de partager et de modifier toutes les versions d'un programme - pour s'assurer qu'il reste un logiciel libre pour tous ses utilisateurs. Nous, la Free Software Foundation, utilisons la licence publique générale GNU pour la plupart de nos logiciels ; il s'applique également à toute autre œuvre publiée de cette manière par ses auteurs. Vous pouvez également l'appliquer à vos programmes.</p>
<br>
<p>Lorsque nous parlons de logiciel libre, nous faisons référence à la liberté, pas au prix. Nos licences publiques générales sont conçues pour garantir que vous avez la liberté de distribuer des copies de logiciels libres (et de les facturer si vous le souhaitez), que vous recevez le code source ou que vous pouvez l'obtenir si vous le souhaitez, que vous pouvez modifier le logiciel ou en utiliser des morceaux dans de nouveaux programmes gratuits, et que vous savez que vous pouvez faire ces choses.</p>
<br>
<p>Pour protéger vos droits, nous devons empêcher les autres de vous refuser ces droits ou de vous demander d'y renoncer. Par conséquent, vous avez certaines responsabilités si vous distribuez des copies du logiciel, ou si vous le modifiez : responsabilités de respecter la liberté d'autrui.</p>
<br>
<p>Par exemple, si vous distribuez des copies d'un tel programme, que ce soit gratuitement ou contre paiement, vous devez transmettre aux destinataires les mêmes libertés que vous avez reçues. Vous devez vous assurer qu'eux aussi reçoivent ou peuvent obtenir le code source. Et vous devez leur montrer ces conditions afin qu'ils connaissent leurs droits.</p>
<br>
<p>Les développeurs qui utilisent la GNU GPL protègent vos droits en deux étapes :</P>
<ol>
  <li class="text">revendiquer le droit d'auteur sur le logiciel</li>
  <li class="text">vous offrir cette Licence vous donnant l'autorisation légale de la copier, la distribuer et/ou la modifier.</li>
</ol>
<br>
<p>Pour la protection des développeurs et des auteurs, la GPL explique clairement qu'il n'y a aucune garantie pour ce logiciel libre. Pour le bien des utilisateurs et des auteurs, la GPL exige que les versions modifiées soient marquées comme modifiées, afin que leurs problèmes ne soient pas attribués à tort aux auteurs des versions précédentes.</p>
<br>
<p>Certains appareils sont conçus pour empêcher les utilisateurs d'installer ou d'exécuter des versions modifiées du logiciel qu'ils contiennent, bien que le fabricant puisse le faire. Ceci est fondamentalement incompatible avec l'objectif de protéger la liberté des utilisateurs de modifier le logiciel. Le modèle systématique de tels abus se produit dans le domaine des produits à usage individuel, qui est précisément là où il est le plus inacceptable. Par conséquent, nous avons conçu cette version de la GPL pour interdire la pratique de ces produits. Si de tels problèmes surviennent de manière substantielle dans d'autres domaines, nous sommes prêts à étendre cette disposition à ces domaines dans les futures versions de la GPL, si nécessaire pour protéger la liberté des utilisateurs.</p>
<br>
<p>Enfin, chaque programme est constamment menacé par les brevets logiciels. Les États ne devraient pas autoriser les brevets à restreindre le développement et l'utilisation de logiciels sur des ordinateurs à usage général, mais dans ceux qui le font, nous souhaitons éviter le danger particulier que les brevets appliqués à un programme libre pourraient le rendre effectivement propriétaire. Pour éviter cela, la GPL garantit que les brevets ne peuvent pas être utilisés pour rendre le programme non libre.</p>
<br>
<p>Les conditions précises de copie, de distribution et de modification suivent.</p>
<br>
<h2>TERMES ET CONDITIONS</h2>
<br>
<p>0. Définitions.</p>
<p>"Cette Licence" fait référence à la version 3 de la Licence Publique Générale GNU.</p>
<br>
<p>Le « droit d'auteur » désigne également les lois similaires au droit d'auteur qui s'appliquent à d'autres types d'œuvres, telles que les masques à semi-conducteurs.</p>
<br>
<p>« Le Programme » fait référence à toute œuvre protégée par le droit d'auteur sous licence en vertu de cette Licence. Chaque titulaire de licence est appelé "vous". Les « titulaires de licence » et les « destinataires » peuvent être des particuliers ou des organisations.</p>
<br>
<p>« Modifier » une œuvre signifie copier ou adapter tout ou partie de l'œuvre d'une manière nécessitant l'autorisation du droit d'auteur, autre que la réalisation d'une copie exacte. L'œuvre qui en résulte est appelée une « version modifiée » de l'œuvre antérieure ou une œuvre « basée sur » l'œuvre antérieure.</p>
<br>
<p>Une « œuvre couverte » désigne soit le Programme non modifié, soit une œuvre basée sur le Programme.</p>
<br>
<p>« Propager » une œuvre signifie faire quoi que ce soit avec elle qui, sans autorisation, vous rendrait directement ou indirectement responsable d'une violation en vertu de la loi sur le droit d'auteur applicable, sauf l'exécuter sur un ordinateur ou modifier une copie privée. La propagation comprend la copie, la distribution (avec ou sans modification), la mise à disposition du public et, dans certains pays, d'autres activités également.</p>
<br>
<p>« Transmettre » une œuvre signifie tout type de propagation qui permet à d'autres parties de faire ou de recevoir des copies. Une simple interaction avec un utilisateur via un réseau informatique, sans transfert d'une copie, n'est pas véhiculante.</p>
<br>
<p>Une interface utilisateur interactive affiche les « Avis juridiques appropriés » dans la mesure où elle comprend une fonction pratique et bien visible qui</p>
<ol>
  <li class="text">affiche un avis de droit d'auteur approprié</li>
  <li class="text">indique à l'utilisateur qu'il n'y a aucune garantie pour le travail (sauf pour dans la mesure où des garanties sont fournies), que les titulaires de licence peuvent transmettre le travail sous cette licence, et comment afficher une copie de cette licence. Si l'interface présente une liste de commandes ou d'options utilisateur, comme un menu, un élément important de la liste répond à ce critère.</li>
</ol>
<br>
<h2>1. Code source.</h2>
<br>
<p>Le « code source » d'une œuvre désigne la forme préférée de l'œuvre pour y apporter des modifications. « Code objet » désigne toute forme non source d'une œuvre.</p>
<br>
<p>Une « interface standard » désigne une interface qui est soit une norme officielle définie par un organisme de normalisation reconnu, soit, dans le cas d'interfaces spécifiées pour un langage de programmation particulier, une interface largement utilisée par les développeurs travaillant dans ce langage.</p>
<br>
<p>Les « Bibliothèques système » d'une œuvre exécutable comprennent tout ce qui, autre que l'œuvre dans son ensemble, qui</p>
<ul>
  <li class="text">(a) est inclus dans la forme normale d'emballage d'un Composant majeur, mais qui ne fait pas partie de ce Composant majeur</li>
  <li class="text">(b) sert uniquement à permettre l'utilisation du travail avec ce composant majeur, ou à implémenter une interface standard pour laquelle une implémentation est disponible au public sous forme de code source. Un "composant majeur", dans ce contexte, signifie un composant essentiel majeur (noyau, système de fenêtres, etc.) du système d'exploitation spécifique (le cas échéant) sur lequel le travail exécutable s'exécute, ou un compilateur utilisé pour produire le travail, ou un interpréteur de code objet utilisé pour l'exécuter.</li>
</ul>
<br>
<p>La « source correspondante » pour une œuvre sous forme de code objet désigne tout le code source nécessaire pour générer, installer et (pour une œuvre exécutable) exécuter le code objet et modifier l'œuvre, y compris les scripts pour contrôler ces activités. Cependant, cela n'inclut pas les bibliothèques système de l'œuvre, ni les outils à usage général ou les programmes gratuits généralement disponibles qui sont utilisés tels quels dans l'exécution de ces activités mais qui ne font pas partie de l'œuvre. Par exemple, la source correspondante inclut les fichiers de définition d'interface associés aux fichiers source de l'œuvre, ainsi que le code source des bibliothèques partagées et des sous-programmes liés dynamiquement que l'œuvre est spécifiquement conçue pour nécessiter, par exemple par une communication de données intime ou un flux de contrôle entre ces sous-programmes et autres parties de l'ouvrage.</p>
<br>
<p>La source correspondante n'a pas besoin d'inclure quoi que ce soit que les utilisateurs peuvent régénérer automatiquement à partir d'autres parties de la source correspondante.</p>
<br>
<p>La source correspondante pour une œuvre sous forme de code source est cette même œuvre.</p>
<br>
<h2>2. Autorisations de base.</h2>
<p>Tous les droits accordés en vertu de cette licence sont accordés pour la durée du droit d'auteur sur le programme et sont irrévocables à condition que les conditions énoncées soient remplies. Cette Licence confirme explicitement votre autorisation illimitée d'exécuter le Programme non modifié. La sortie de l'exécution d'un travail couvert est couverte par cette licence uniquement si la sortie, compte tenu de son contenu, constitue un travail couvert. Cette licence reconnaît vos droits d'utilisation équitable ou autre équivalent, comme prévu par la loi sur le droit d'auteur.</p>
<br>
<p>Vous pouvez créer, exécuter et propager des œuvres couvertes que vous ne transmettez pas, sans conditions tant que votre licence reste autrement en vigueur. Vous pouvez transmettre des travaux couverts à d'autres dans le seul but de leur faire apporter des modifications exclusivement pour vous, ou vous fournir des installations pour exécuter ces travaux, à condition que vous respectiez les termes de cette licence en transmettant tout le matériel pour lequel vous ne contrôlez pas droits d'auteur. Ceux qui créent ou exploitent ainsi les œuvres couvertes pour vous doivent le faire exclusivement en votre nom, sous votre direction et votre contrôle, selon des conditions qui leur interdisent de faire des copies de votre matériel protégé par le droit d'auteur en dehors de leur relation avec vous.</p>
<br>
<p>La transmission dans d'autres circonstances n'est autorisée que dans les conditions énoncées ci-dessous. La sous-licence n'est pas autorisée ; l'article 10 le rend inutile.</p>
<br>
<h2>3. Protéger les droits légaux des utilisateurs contre la loi anti-contournement.</h2>
<p>Aucune œuvre couverte ne sera considérée comme faisant partie d'une mesure technique efficace en vertu de toute loi applicable remplissant les obligations en vertu de l'article 11 du traité de l'OMPI sur le droit d'auteur adopté le 20 décembre 1996, ou de lois similaires interdisant ou restreignant le contournement de ces mesures.</p>
<br>
<p>Lorsque vous transmettez une œuvre couverte, vous renoncez à tout pouvoir légal d'interdire le contournement des mesures technologiques dans la mesure où ce contournement est effectué en exerçant des droits en vertu de la présente Licence à l'égard de l'œuvre couverte, et vous déclinez toute intention de limiter le fonctionnement ou la modification du œuvre comme moyen de faire respecter, contre les utilisateurs de l'œuvre, vos droits légaux ou ceux de tiers d'interdire le contournement des mesures technologiques.</p>
<br>
<h2>4. Transmission de copies textuelles.</h2>
<p>Vous pouvez transmettre des copies textuelles du code source du Programme tel que vous le recevez, sur n'importe quel support, à condition que vous publiiez de manière visible et appropriée sur chaque copie un avis de droit d'auteur approprié ; conserver intacts tous les avis indiquant que cette licence et toutes les conditions non permissives ajoutées conformément à la section 7 s'appliquent au code ; conserver intacts tous les avis d'absence de garantie ; et donner à tous les destinataires une copie de cette licence avec le programme.</p>
<br>
<p>Vous pouvez facturer n'importe quel prix ou aucun prix pour chaque copie que vous transmettez, et vous pouvez offrir une assistance ou une protection de garantie moyennant des frais.</p>
<br>
<h2>5. Transmission des versions sources modifiées.</h2>
<p>Vous pouvez transmettre une œuvre basée sur le Programme, ou les modifications pour la produire à partir du Programme, sous forme de code source dans les conditions de l'article 4, à condition que vous remplissiez également l'ensemble de ces conditions :</p>
<br>
<ul>
  <li class="text">a) Le travail doit porter des avis bien en vue indiquant que vous l'avez modifié et donnant une date pertinente.</li>
  <li class="text">b) L'œuvre doit porter des avis bien en vue indiquant qu'elle est publiée sous cette licence et toutes les conditions ajoutées en vertu de l'article 7. Cette exigence modifie l'exigence de l'article 4 de « garder intacts tous les avis ».</li>
  <li class="text">c) Vous devez concéder sous licence l'intégralité de l'œuvre, dans son ensemble, en vertu de la présente Licence à toute personne entrant en possession d'une copie. Cette Licence s'appliquera donc, ainsi que toutes les conditions supplémentaires applicables de la section 7, à l'ensemble de l'œuvre et à toutes ses parties, quelle que soit la manière dont elles sont conditionnées. Cette licence n'autorise aucunement l'octroi d'une licence pour l'œuvre d'une autre manière, mais elle n'invalide pas cette autorisation si vous l'avez reçue séparément.</li>
  <li class="text">d) Si l'œuvre comporte des interfaces utilisateur interactives, chacune doit afficher les mentions légales appropriées ; toutefois, si le Programme comporte des interfaces interactives qui n'affichent pas les Mentions légales appropriées, votre travail n'a pas à les obliger à le faire.</li>
</ul>
<p>Une compilation d'une œuvre couverte avec d'autres œuvres séparées et indépendantes, qui ne sont pas par nature des extensions de l'œuvre couverte, et qui ne sont pas combinées avec elle de manière à former un programme plus vaste, dans ou sur un volume d'un stockage ou d'une distribution support, est appelé un « agrégat » si la compilation et le droit d'auteur qui en résulte ne sont pas utilisés pour limiter l'accès ou les droits légaux des utilisateurs de la compilation au-delà de ce que les œuvres individuelles permettent. L'inclusion d'une œuvre couverte dans un agrégat n'entraîne pas l'application de cette Licence aux autres parties de l'agrégat.</p>
<br>
<h2>6. Transmission de formulaires non sources.</h2>
<p>Vous pouvez transmettre une œuvre couverte sous forme de code objet selon les termes des sections 4 et 5, à condition que vous transmettiez également la source correspondante lisible par machine selon les termes de cette licence, de l'une des manières suivantes :</p>
<br>
<ul>
  <li class="text">a) Transmettre le code objet dans, ou incorporé dans, un produit physique (y compris un support de distribution physique), accompagné de la Source Correspondante fixée sur un support physique durable habituellement utilisé pour l'échange de logiciels.</li>
  <li class="text">b) Transmettre le code objet dans ou incorporé dans un produit physique (y compris un support de distribution physique), accompagné d'une offre écrite, valable au moins trois ans et valable aussi longtemps que vous proposez des pièces de rechange ou un support client pour ce modèle de produit, de donner à toute personne possédant le code objet soit 
    <ol>
      <li class="text">une copie de la Source Correspondante pour tous les logiciels du produit couverts par la présente Licence, sur un support physique durable habituellement utilisé pour l'échange de logiciels, pour un prix non plus que votre coût raisonnable d'exécution physique de ce transfert de source, ou </li>
      <li class="text">l'accès pour copier la source correspondante à partir d'un serveur réseau sans frais.</li>
    </ol>
  <li class="text">c) Transmettre des copies individuelles du code objet avec une copie de l'offre écrite à fournir à la source correspondante. Cette alternative n'est autorisée qu'occasionnellement et à des fins non commerciales, et uniquement si vous avez reçu le code objet avec une telle offre, conformément à la sous-section 6b.</li>
  <li class="text">d) Transmettre le code objet en offrant un accès à partir d'un lieu désigné (gratuit ou payant), et offrir un accès équivalent à la Source Correspondante de la même manière via le même lieu sans frais supplémentaires. Vous n'avez pas besoin d'exiger que les destinataires copient la source correspondante avec le code objet. Si l'endroit où copier le code objet est un serveur réseau, la source correspondante peut être sur un serveur différent (exploité par vous ou un tiers) qui prend en charge des fonctions de copie équivalentes, à condition que vous mainteniez des instructions claires à côté du code objet indiquant où trouver la source correspondante. Quel que soit le serveur hébergeant la source correspondante, vous restez obligé de vous assurer qu'elle est disponible aussi longtemps que nécessaire pour répondre à ces exigences.</li>
  <li class="text">e) Transmettre le code objet en utilisant la transmission peer-to-peer, à condition que vous informiez d'autres pairs où le code objet et la source correspondante de l'œuvre sont offerts au grand public sans frais en vertu de la sous-section 6d.</li>
</ul>
<p>Une partie séparable du code objet, dont le code source est exclu de la source correspondante en tant que bibliothèque système, n'a pas besoin d'être incluse dans la transmission du travail de code objet.</p>
<br>
<p>Un « produit utilisateur » est soit</p> 
<ol>
  <li class="text">un « produit de consommation », c'est-à-dire tout bien meuble corporel qui est normalement utilisé à des fins personnelles, familiales ou domestiques, ou </li>
  <li class="text">tout objet conçu ou vendu pour être incorporé dans une habitation. Pour déterminer si un produit est un produit de consommation, les cas douteux doivent être résolus en faveur de la couverture. Pour un produit particulier reçu par un utilisateur particulier, « normalement utilisé » fait référence à une utilisation typique ou courante de cette classe de produits, quel que soit le statut de l'utilisateur particulier ou la manière dont l'utilisateur particulier utilise réellement, ou attend ou est censé utiliser, le produit. Un produit est un produit de consommation, qu'il ait ou non des utilisations commerciales, industrielles ou autres que de consommation substantielles, à moins que ces utilisations ne représentent le seul mode d'utilisation significatif du produit.</li>
</ol>
<br>
<p>« Informations d'installation » pour un produit utilisateur désigne toutes les méthodes, procédures, clés d'autorisation ou autres informations requises pour installer et exécuter des versions modifiées d'un travail couvert dans ce produit utilisateur à partir d'une version modifiée de sa source correspondante. Les informations doivent être suffisantes pour garantir que le fonctionnement continu du code objet modifié n'est en aucun cas empêché ou entravé uniquement parce qu'une modification a été effectuée.</p>
<br>
<p>Si vous transmettez un travail de code objet en vertu de cette section dans, ou avec, ou spécifiquement pour une utilisation dans, un produit utilisateur, et que la transmission se produit dans le cadre d'une transaction dans laquelle le droit de possession et d'utilisation du produit utilisateur est transféré au destinataire à perpétuité ou pour une durée déterminée (quelle que soit la nature de la transaction), la Source Correspondante transmise en vertu de cette section doit être accompagnée des Informations d'Installation. Mais cette exigence ne s'applique pas si ni vous ni aucun tiers ne conservent la possibilité d'installer du code objet modifié sur le Produit Utilisateur (par exemple, l'œuvre a été installée en ROM).</p>
<br>
<p>L'obligation de fournir des informations d'installation n'inclut pas l'obligation de continuer à fournir un service d'assistance, une garantie ou des mises à jour pour un travail qui a été modifié ou installé par le destinataire, ou pour le produit utilisateur dans lequel il a été modifié ou installé. L'accès à un réseau peut être refusé lorsque la modification elle-même affecte matériellement et négativement le fonctionnement du réseau ou viole les règles et les protocoles de communication sur le réseau.</p>
<br>
<p>La source correspondante transmise et les informations d'installation fournies, conformément à cette section, doivent être dans un format documenté publiquement (et avec une implémentation accessible au public sous forme de code source), et ne doivent nécessiter aucun mot de passe ou clé spécial pour le déballage, la lecture ou la copie.</p>
<br>
<h2>7. Conditions supplémentaires.</h2>
<p>Les « autorisations supplémentaires » sont des termes qui complètent les termes de cette licence en faisant des exceptions à une ou plusieurs de ses conditions. Les autorisations supplémentaires applicables à l'ensemble du Programme seront traitées comme si elles étaient incluses dans la présente Licence, dans la mesure où elles sont valides en vertu de la loi applicable. Si des autorisations supplémentaires ne s'appliquent qu'à une partie du Programme, cette partie peut être utilisée séparément dans le cadre de ces autorisations, mais l'ensemble du Programme reste régi par la présente Licence, quelles que soient les autorisations supplémentaires.</p>
<br>
<p>Lorsque vous transmettez une copie d'une œuvre couverte, vous pouvez, à votre choix, supprimer toute autorisation supplémentaire de cette copie ou de toute partie de celle-ci. (Des autorisations supplémentaires peuvent être écrites pour exiger leur propre suppression dans certains cas lorsque vous modifiez l'œuvre.) Vous pouvez placer des autorisations supplémentaires sur le matériel, ajouté par vous à une œuvre couverte, pour laquelle vous avez ou pouvez donner l'autorisation de droit d'auteur appropriée.</p>
<br>
<p>Nonobstant toute autre disposition de cette licence, pour le matériel que vous ajoutez à un travail couvert, vous pouvez (si autorisé par les détenteurs des droits d'auteur de ce matériel) compléter les termes de cette licence avec des termes :</p>
<br>
<ul>
  <li class="text">a) L'exclusion de la garantie ou la limitation de la responsabilité différemment des termes des sections 15 et 16 de la présente Licence ; ou</li>
  <li class="text">b) Exiger la préservation des mentions légales raisonnables spécifiées ou des attributions d'auteur dans ce matériel ou dans les mentions légales appropriées affichées par les œuvres qui le contiennent ; ou</li>
  <li class="text">c) Interdire la fausse déclaration de l'origine de ce matériel, ou exiger que les versions modifiées de ce matériel soient marquées de manière raisonnable comme étant différentes de la version originale ; ou</li>
  <li class="text">d) Limiter l'utilisation à des fins publicitaires des noms des concédants de licence ou des auteurs du matériel ; ou</li>
  <li class="text">e) Refuser d'accorder des droits en vertu du droit des marques pour l'utilisation de certains noms commerciaux, marques de commerce ou marques de service ; ou</li>
  <li class="text">f) Exiger l'indemnisation des concédants de licence et des auteurs de ce matériel par quiconque transmet le matériel (ou des versions modifiées de celui-ci) avec des hypothèses contractuelles de responsabilité envers le destinataire, pour toute responsabilité que ces hypothèses contractuelles imposent directement à ces concédants de licence et auteurs.</li>
</ul>
<p>Toutes les autres conditions supplémentaires non permissives sont considérées comme des "restrictions supplémentaires" au sens de la section 10. Si le Programme tel que vous l'avez reçu, ou une partie de celui-ci, contient un avis indiquant qu'il est régi par la présente Licence ainsi qu'une condition qui est une restriction supplémentaire, vous pouvez supprimer ce terme. Si un document de licence contient une restriction supplémentaire mais autorise la re-licence ou la transmission en vertu de cette Licence, vous pouvez ajouter à un travail couvert le matériel régi par les termes de ce document de licence, à condition que la restriction supplémentaire ne survive pas à cette re-licence ou transmission.</p>
<br>
<p>Si vous ajoutez des termes à un travail couvert conformément à cette section, vous devez placer, dans les fichiers source pertinents, une déclaration des termes supplémentaires qui s'appliquent à ces fichiers, ou un avis indiquant où trouver les termes applicables.</p>
<br>
<p>Des conditions supplémentaires, permissives ou non permissives, peuvent être énoncées sous la forme d'une licence écrite séparément, ou énoncées comme des exceptions ; les exigences ci-dessus s'appliquent dans les deux cas.</p>
<br>
<h2>8. Résiliation.</h2>
<p>Vous ne pouvez pas propager ou modifier une œuvre couverte, sauf dans les cas expressément prévus par la présente Licence. Toute autre tentative de propagation ou de modification est nulle et mettra automatiquement fin à vos droits en vertu de cette Licence (y compris toute licence de brevet accordée en vertu du troisième paragraphe de l'article 11).</p>
<br>
<p>Cependant, si vous cessez toute violation de cette licence, votre licence d'un détenteur de droits d'auteur particulier est rétablie</p>
<ul>
  <li class="text">(a) provisoirement, à moins que et jusqu'à ce que le détenteur des droits d'auteur résilie explicitement et définitivement votre licence, et </li>
  <li class="text">(b) de façon permanente, si le détenteur des droits d'auteur échoue pour vous informer de la violation par des moyens raisonnables avant 60 jours après la cessation.</li>
</ul>
<br>
<p>De plus, votre licence d'un détenteur de droit d'auteur particulier est rétablie de façon permanente si le détenteur du droit d'auteur vous informe de la violation par des moyens raisonnables, c'est la première fois que vous recevez un avis de violation de cette licence (pour tout travail) de ce détenteur du droit d'auteur, et vous corrigez la violation dans les 30 jours suivant la réception de l'avis.</p>
<br>
<p>La résiliation de vos droits en vertu de cette section ne met pas fin aux licences des parties qui ont reçu des copies ou des droits de votre part en vertu de cette licence. Si vos droits ont été résiliés et non rétablis de façon permanente, vous n'êtes pas admissible à recevoir de nouvelles licences pour le même matériel en vertu de l'article 10.</p>
<br>
<h2>9. Acceptation non requise pour avoir des copies.</h2>
<p>Vous n'êtes pas obligé d'accepter cette Licence pour recevoir ou exécuter une copie du Programme. La propagation accessoire d'une œuvre couverte se produisant uniquement en conséquence de l'utilisation de la transmission peer-to-peer pour recevoir une copie ne nécessite pas non plus d'acceptation. Cependant, rien d'autre que cette Licence ne vous accorde la permission de propager ou de modifier tout travail couvert. Ces actions enfreignent le droit d'auteur si vous n'acceptez pas cette licence. Par conséquent, en modifiant ou en propageant une œuvre couverte, vous indiquez votre acceptation de cette Licence pour le faire.</p>
<br>
<h2>10. Licence automatique des destinataires en aval.</h2>
<p>Chaque fois que vous transmettez une œuvre couverte, le destinataire reçoit automatiquement une licence des concédants de licence d'origine, pour exécuter, modifier et propager cette œuvre, sous réserve de la présente Licence. Vous n'êtes pas responsable de faire respecter la conformité par des tiers avec cette Licence.</p>
<br>
<p>Une « transaction d'entité » est une transaction transférant le contrôle d'une organisation, ou de la quasi-totalité des actifs d'une organisation, ou subdivisant une organisation, ou fusionnant des organisations. Si la propagation d'une œuvre couverte résulte d'une transaction d'entité, chaque partie à cette transaction qui reçoit une copie de l'œuvre reçoit également les licences sur l'œuvre que le prédécesseur intéressé de la partie avait ou pourrait donner en vertu du paragraphe précédent, plus un droit de possession de la source correspondante de l'œuvre du prédécesseur intéressé, si le prédécesseur l'a ou peut l'obtenir avec des efforts raisonnables.</P>
<br>
<p>Vous ne pouvez pas imposer d'autres restrictions à l'exercice des droits accordés ou affirmés en vertu de cette Licence. Par exemple, vous ne pouvez pas imposer de frais de licence, de redevances ou d'autres frais pour l'exercice des droits accordés en vertu de cette licence, et vous ne pouvez pas engager de litige (y compris une demande reconventionnelle ou une demande reconventionnelle dans un procès) alléguant qu'une revendication de brevet est enfreinte. en fabriquant, utilisant, vendant, proposant à la vente ou important le Programme ou toute partie de celui-ci.</p>
<br>
<h2>11. Brevets.</h2>
<p>Un « contributeur » est un détenteur de droits d'auteur qui autorise l'utilisation en vertu de cette licence du programme ou d'une œuvre sur laquelle le programme est basé. L'œuvre ainsi licenciée est appelée « version contributrice » du contributeur.</p>
<br>
<p>Les « revendications de brevet essentielles » d'un contributeur sont toutes les revendications de brevet détenues ou contrôlées par le contributeur, qu'elles soient déjà acquises ou acquises ultérieurement, qui seraient enfreintes d'une manière, autorisée par cette licence, de fabrication, d'utilisation ou de vente de sa version de contributeur, mais n'incluez pas les réclamations qui seraient enfreintes uniquement en conséquence d'une modification ultérieure de la version du contributeur. Aux fins de cette définition, le « contrôle » comprend le droit d'accorder des sous-licences de brevet d'une manière conforme aux exigences de la présente licence.</p>
<br>
<p>Chaque contributeur vous accorde une licence de brevet non exclusive, mondiale et libre de droits en vertu des revendications de brevet essentielles du contributeur, pour fabriquer, utiliser, vendre, proposer à la vente, importer et autrement exécuter, modifier et propager le contenu de sa version de contributeur.</P>
<br>
<p>Dans les trois paragraphes suivants, une « licence de brevet » désigne tout accord ou engagement exprès, quelle qu'en soit la dénomination, de ne pas appliquer un brevet (comme une autorisation expresse d'exercer un brevet ou un engagement de ne pas poursuivre pour contrefaçon de brevet). "Accorder" une telle licence de brevet à une partie signifie conclure un tel accord ou engagement de ne pas faire valoir un brevet contre la partie.</p>
<br>
<p>Si vous transmettez une œuvre couverte, en vous appuyant sciemment sur une licence de brevet, et que la source correspondante de l'œuvre n'est pas disponible pour que quiconque puisse la copier, gratuitement et selon les termes de cette licence, via un serveur de réseau accessible au public ou tout autre moyen facilement accessible signifie, alors vous devez soit</p>
<ol>
  <li class="text">faire en sorte que la Source Correspondante soit ainsi disponible, soit </li>
  <li class="text">prendre des dispositions pour vous priver du bénéfice de la licence de brevet pour ce travail particulier, ou </li>
  <li class="text">prendre des dispositions, d'une manière compatible avec la exigences de cette Licence, pour étendre la licence de brevet aux destinataires en aval. "Se fier sciemment" signifie que vous savez réellement que, à l'exception de la licence de brevet, de la transmission de l'œuvre couverte dans un pays ou de l'utilisation de l'œuvre couverte par votre destinataire dans un pays,</li>
</ol>
<br>
<p>Si, conformément à ou en relation avec une transaction ou un arrangement unique, vous transmettez ou propagez en procurant la transmission d'une œuvre couverte et accordez une licence de brevet à certaines des parties recevant l'œuvre couverte les autorisant à utiliser, propager, modifier ou transmettre une copie spécifique de l'œuvre couverte, la licence de brevet que vous accordez est automatiquement étendue à tous les destinataires de l'œuvre couverte et des œuvres basées sur celle-ci.</p>
<br>
<p>Une licence de brevet est « discriminatoire » si elle n'inclut pas dans son champ d'application, interdit l'exercice ou est conditionnée au non-exercice d'un ou plusieurs des droits qui sont spécifiquement accordés en vertu de cette licence. Vous ne pouvez pas transmettre une œuvre couverte si vous êtes partie à un accord avec un tiers qui est dans le domaine de la distribution de logiciels, en vertu duquel vous effectuez un paiement au tiers en fonction de l'étendue de votre activité de transmission de l'œuvre, et en vertu de laquelle le tiers accorde, à l'une des parties qui recevraient l'œuvre couverte de votre part, une licence de brevet discriminatoire</p>
<ul>
  <li class="text">(a) en relation avec des copies de l'œuvre couverte transmises par vous (ou des copies faites à partir de ces copies), ou </li>
  <li class="text">( b) principalement pour et en relation avec des produits ou des compilations spécifiques qui contiennent le travail couvert,</li>
</ul>
<br>
<p>Rien dans cette Licence ne doit être interprété comme excluant ou limitant toute licence implicite ou autres moyens de défense contre la contrefaçon qui pourraient autrement vous être disponibles en vertu de la loi sur les brevets applicable.</p>
<br>
<h2>12. Aucun abandon de la liberté d'autrui.</h2>
<p>Si des conditions vous sont imposées (que ce soit par une ordonnance du tribunal, un accord ou autre) qui contredisent les conditions de cette Licence, elles ne vous dispensent pas des conditions de cette Licence. Si vous ne pouvez pas transmettre une œuvre couverte de manière à satisfaire simultanément vos obligations en vertu de cette Licence et toute autre obligation pertinente, alors, en conséquence, vous ne pouvez pas la transmettre du tout. Par exemple, si vous acceptez des conditions qui vous obligent à percevoir une redevance pour la transmission ultérieure de ceux à qui vous transmettez le programme, la seule façon de satisfaire à la fois ces conditions et cette licence serait de vous abstenir entièrement de transmettre le programme.</p>
<br>
<h2>13. Utilisation avec la licence publique générale GNU Affero.</h2>
<p>Nonobstant toute autre disposition de cette Licence, vous avez la permission de lier ou de combiner tout travail couvert avec un travail sous licence sous la version 3 de la Licence Publique Générale GNU Affero en un seul travail combiné, et de transmettre le travail résultant. Les termes de cette licence continueront de s'appliquer à la partie qui est le travail couvert, mais les exigences particulières de la licence publique générale GNU Affero, section 13, concernant l'interaction via un réseau s'appliqueront à la combinaison en tant que telle.</p>
<br>
<h2>14. Versions révisées de cette Licence.</h2>
<p>La Free Software Foundation peut publier de temps à autre des versions révisées et/ou nouvelles de la Licence publique générale GNU. Ces nouvelles versions seront similaires dans l'esprit à la version actuelle, mais peuvent différer dans le détail pour répondre à de nouveaux problèmes ou préoccupations.</p>
<br>
<p>Un numéro distinct est attribué à chaque version. Si le Programme spécifie qu'une certaine version numérotée de la Licence Publique Générale GNU "ou toute version ultérieure" s'y applique, vous avez la possibilité de suivre les termes et conditions soit de cette version numérotée, soit de toute version ultérieure publiée par le Logiciel Libre Fondation. Si le Programme ne spécifie pas de numéro de version de la Licence publique générale GNU, vous pouvez choisir n'importe quelle version jamais publiée par la Free Software Foundation.</p>
<br>
<p>Si le Programme spécifie qu'un mandataire peut décider quelles futures versions de la Licence publique générale GNU peuvent être utilisées, la déclaration publique d'acceptation d'une version par ce mandataire vous autorise de façon permanente à choisir cette version pour le Programme.</p>
<br>
<p>Les versions de licence ultérieures peuvent vous accorder des autorisations supplémentaires ou différentes. Cependant, aucune obligation supplémentaire n'est imposée à un auteur ou à un détenteur de droits d'auteur à la suite de votre choix de suivre une version ultérieure.</p>
<br>
<h2>15. Exclusion de garantie.</h2>
<p>IL N'EXISTE AUCUNE GARANTIE POUR LE PROGRAMME, DANS LA MESURE PERMISE PAR LA LOI APPLICABLE. SAUF INDICATION CONTRAIRE PAR ÉCRIT, LES DÉTENTEURS DU COPYRIGHT ET/OU LES AUTRES PARTIES FOURNISSENT LE PROGRAMME "TEL QUEL" SANS GARANTIE D'AUCUNE SORTE, EXPLICITE OU IMPLICITE, Y COMPRIS, MAIS SANS S'Y LIMITER, LES GARANTIES IMPLICITES DE QUALITÉ MARCHANDE ET D'ADÉQUATION À UN USAGE PARTICULIER . L'ENSEMBLE DES RISQUES QUANT À LA QUALITÉ ET AUX PERFORMANCES DU PROGRAMME EST AVEC VOUS. SI LE PROGRAMME S'AVÉRAIT DÉFECTUEUX, VOUS ASSUMEZ LE COÛT DE TOUT ENTRETIEN, RÉPARATION OU CORRECTION NÉCESSAIRE.</p>
<br>
<h2>16. Limitation de responsabilité.</h2>
<p>EN AUCUN CAS, SAUF EXIGENCE PAR LA LOI APPLICABLE OU ACCEPTÉE PAR ÉCRIT, TOUT DÉTENTEUR DU COPYRIGHT, OU TOUTE AUTRE PARTIE QUI MODIFIE ET/OU TRANSMET LE PROGRAMME COMME AUTORISÉ CI-DESSUS, NE SERA RESPONSABLE ENVERS VOUS DES DOMMAGES, Y COMPRIS TOUT DOMMAGE GÉNÉRAL, SPÉCIAL, ACCESSOIRE OU CONSÉCUTIF. LES DOMMAGES RÉSULTANT DE L'UTILISATION OU DE L'INCAPACITÉ D'UTILISER LE PROGRAMME (Y COMPRIS, MAIS SANS S'Y LIMITER, LA PERTE DE DONNÉES OU LES DONNÉES RENDUES INEXACTES OU LES PERTES SUBIES PAR VOUS OU DES TIERS OU L'ÉCHEC DU PROGRAMME À FONCTIONNER AVEC D'AUTRES PROGRAMMES), MÊME SI CE TITULAIRE OU AUTRE PARTIE A ÉTÉ INFORMÉ DE LA POSSIBILITÉ DE TELS DOMMAGES.</p>
<br>
<h2>17. Interprétation des articles 15 et 16.</h2>
<p>Si l'exclusion de garantie et la limitation de responsabilité fournies ci-dessus ne peuvent pas avoir d'effet juridique local conformément à leurs termes, les tribunaux de révision appliqueront la loi locale qui se rapproche le plus d'une renonciation absolue à toute responsabilité civile en rapport avec le programme, à moins qu'une garantie ou une prise en charge de responsabilité accompagne une copie du programme moyennant des frais.</p>
<br>
<p>FIN DES TERMES ET CONDITIONS</p>
{% endblock %}
